@model Capstone.Web.Models.DropDownPlans
@using System.Collections.Generic
@using Capstone.Web.Models

@{
    ViewBag.Title = "Index";
}




<div>
    <h2>View A Plan</h2>
    @using (Html.BeginForm("ViewPlanID", "Plan", FormMethod.Post))
    {

        List<SelectListItem> listItems = new List<SelectListItem>();
        foreach (PlanModel plan in Model.PlanModels)
        {
            listItems.Add(new SelectListItem
            {
                Text = plan.PlanName,
                Value = plan.PlanId.ToString()
            });
        }
        @Html.DropDownListFor(Model => Model.currentID, listItems, new { @class = "btn btn-default dropdown-toggle" })

        <button class="buttonbox">View Plan</button>
    }

    @Html.ActionLink("| Create Plan |", "CreatePlan", "Plan")
    @Html.ActionLink("| Add A Meal |", "AddMealToPlan", "Plan")
</div>

