
﻿.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

    .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

﻿
﻿.daybox {
    width: 200px;
    height: 500px;
    background-color: maroon
}

#picbox {
    width: 200px;
    height: auto;
}

#pink {
    background-color: lightsalmon;
}

#gold {
    background-color: lightgoldenrodyellow
}

.header {
    background-image: url('../Img/color-of-cancer-awareness.jpg');
    background-size: 100%, 100%;
}
.element-style{

    margin:auto;
    height:500px;
    width:500px;
    font-size:medium;

}
.dingleberry {
    text-align:center;
    width: 50%;
    height: 50%;
}
/*section.centeredPanel {
    clear: both;
    /*display: block;*/
    width: 90%;
    vertical-align: top;
    min-height: 50px;
    background-color: #FFF;
    border-radius: 10px;
    border-width:thick;
    border-color:red;
    margin: 20px auto;
}

    section.centeredPanel h2 {
        color: #000000;
        text-align: center;
        padding-top: 15px;
    }

    section.centeredPanel p {
        color: #000;
        text-align: left;
    }*/


.bodyByBod {
text-align: center;
position:center;
}
.rightImage {
    display: block;
    width: 400px;
    height: 200px;
    text-align: right;
}
.textbox {
    width: 6000px;
    height: 6000px;
    text-align: center;
}
.rstext{
    font-size: 18px;
}
.padding{
    padding-top:10px;
}
.nav {
    background-color: #ab192d;
    list-style: none;
    display: flex;
    text-align: center;
    color:white;
}

.category {
    margin: 10px;
    padding: 5px;
    display: inline-block;
    overflow: hidden
}
.picture {
 height:300px;
 width:600px;
 margin: 0;
 padding-top: 52px;
}

.item {
    width: 120px;
    height: 120px;
    height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

.image {
    display: block;
    
    width: 400px;
    height:200px;
    text-align: left;
}
#ImageName {
    position: center;
    text-align: center;
    margin: auto;
}
    /*padding-left: 800px;*/

/*#TagSearch{
    height:200px;
=======


.TagSearch{
    height:100px;
>>>>>>> e4c931b39c1646202072c22b4bbca9cde12858f4
    width:200px;
    margin:0;
}
#login{
    text-align:center;
}
#Register{
    text-align:center;
        
}
#title{
    text-align:center;
}
#id{
    text-align:center;
<<<<<<< HEAD
    
=======
>>>>>>> e4c931b39c1646202072c22b4bbca9cde12858f4
}
#pre {
    width:30%;
    height:auto;
    display: block;
    padding:0;
    margin:0px;
    font-size: 13px;
    line-height: 1.42857143;
    color: black;
    word-break:break-all;
    word-wrap: break-word;
    background-color:white;
    border: 0px;
    border-radius: 0px;
}
/*.header{
    text-align:center;
    text-decoration:underline;
    
}*/
.addrecipe{
    padding-top: 400px;
    text-align:center;
}
.id {
padding-right: 20px;
display: inline-block;

}
.directions {
    /*padding-left: 40px;*/
    text-decoration:underline;
    text-align:center;
    
}
.public{
    text-align:center;
    display:block;
}
.ingredients {
    /*padding-right: 20px;*/
    display: inline-block;
    text-align:center;
}
.navbar-brand{
    color:white;
}
.textarea{
    height:300px;
    width:150px;
}
